<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Rajeev Rajeshuni</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>I'm Rajeev Rajeshuni a senior software developer with an interest in Algorithms and Distributed Systems. Currently I'm working as a Software Development Engineer at 0xppl.com building a social network for crypto natives. Previously, I worked at Zerok.ai building observability tools for Kubernetes clusters and Hansel.io building tools to increase user engagement.</p>
  </main>
</body>
</html>
